@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --yellow: #bf9a00;
    --dark-color: #856b00;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


#videoBG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    position: relative;
    
   
 }

 .tab-menu .cap{
     width: 95%;
     height: 520px;
     position: relative;
     
     overflow: hidden;
 }

 .tab-menu .cap .btn-box{
     display: flex;
     border-bottom: 1px solid #ccc;
     
 }

 .tab-menu .cap .btn-box button{
    background: transparent;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 20px 20px;
     margin-right: 3.3px;
     font-size: 22px;
     font-weight: bold;
     background: #e6e6e6;
     border-radius: 11px 11px 0 0;
    
 }

 #btn1{
     background: #eee;
     border-radius: 11px 11px 0 0;
 }

 #btn2{ 
    background: #eee;
    border-radius: 11px 11px 0 0;
 }

   
 #btn3{
    background: #eee;
    border-radius: 11px 11px 0 0;
 }

 #btn4{
    background: #eee;
    border-radius: 11px 11px 0 0;
 }
 

 .tab-menu .cap .btn-box button:hover{
     color: #0580a6;
 }

 .tab-menu .content-right img{
     width: 350px;
 }

 .tab-menu .content{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 4rem auto;
     position: absolute;
     transform: translateX(100%);
     transition: 0.3s;
 }

 .tab-menu .content-left{
     flex-basis: 50%;
 }

 .content-left p{
     font-size: 17px;
     padding: 30px 0;
 }
 
 .content-left h1{
     color: #0580a6;
     font-size: 24px;
     
 } 
 .content-right{
    flex-basis: 50%;
    text-align: center;
}

.content-right img{
    padding: -10rem;
    margin-bottom: -6.2rem;
    margin-right: -14.3rem;
}

#content1{
    transform: translateX(0px);
}

#btn1{
    color: #0580a6;
}



.roles .write-ups .square img{
    float: left;
    margin: 2rem;
    width: 12%;
}


#cap-review{
    margin-top: 5rem;
}

#cap-only h2 p{
    text-align: justify;
    font-size: 20px;
}


@media (max-width: 1088px){
    section{
    margin-left: 1rem;
    margin-right: 1rem;
    }
}

@media (max-width: 880px){
    section {
        padding: 4rem 0 3rem;
    }

    .tab-menu .cap .btn-box{
        margin-top: -14rem;
    }
    
    .tab-menu .cap .btn-box button{
         font-size: 11px;
         padding: 12px 12px;
      }

      .content{
        flex-direction: column;
        display: block;
        width: 380px;
        height: auto;
        position: absolute;
        margin-left: -15rem;
        padding: 5rem;

    }

    .roles .write-ups .square{
        display: block;
        margin: auto;
        width: 2rem;
    }

    .tab-menu .cap{
        overflow: visible;
        width: 43.8rem;
        display: block;
        
    }
   

    .content-left a{
        display: none;
    }

    .content-right img{
        padding: 0rem;
        margin-bottom: 0;
        margin-right: -.09rem;
    }

   

    


    

    
}



